includes:
  - vendor/hexlet/phpstan-fp/phpstan.neon

parameters:
    checkMissingIterableValueType: false
    phpstanFunctionalProgramming:
        disallowClasses: false
        disallowThrow: false
        disallowUnusedExpression: false
