parameters:
    checkMissingIterableValueType: false
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
    -
        message: '#Access to an undefined property object::\$args#'
        path: src/Docopt.php
